body{
    border: 2px solid black;
    margin-left: 2%;
    margin-right: 0px;
    width: 93%;
    padding: 1%;
}
h2{
    margin-left: 2%;
    text-decoration: underline;
}
h1{
    text-align: center;
    text-decoration: underline red;
}
h3{
    text-align: center;
}
h4{
    margin-left: 30%;
    margin-right: auto;
    width: 100%;
}